<!DOCTYPE html>
<html lang = "en">
<head>
    <title>Login</title>
    <meta charset = "UTF-8" />
</head>
<body>
    <div>
        Volunteer Hours Tracking:
        <a href="/">Main</a>
        <a href="/form">Form</a>
    </div>
    <hr>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.admin_first_name.label }}<br>
            {{ form.admin_first_name(size=32) }}
            {% for error in form.admin_first_name.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.admin_last_name.label }}<br>
            {{ form.admin_last_name(size=32) }}
            {% for error in form.admin_last_name.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.project_title.label }}<br>
            {{ form.project_title(size=32) }}
            {% for error in form.project_title.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.project_date.label }}<br>
            {{ form.project_date(size=32) }}
            {% for error in form.project_date.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
</body>
</html>